---
name: Bug Report
about: Report a bug in [% .ProjectName %]
title: ""
labels: bug
assignees: ""
---

**Describe the bug**
A clear description of what the bug is.

**To reproduce**
Steps to reproduce:
1. Run `[% .BinaryName %] ...`
2. See error

**Expected behavior**
What you expected to happen.

**Environment**
- OS: [e.g., macOS 14, Ubuntu 24.04]
- Architecture: [e.g., arm64, amd64]
[% if .HasCLI %]- [% .ProjectName %] version: [output of `[% .BinaryName %] version`]
[% end %]
**Additional context**
Any other context about the problem.
